# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/lambda.zip